* {
    margin: 0;
    padding: 0;
}

.registration-section {
    background-color: blue;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}