.user-container {
    display: flex;
    margin-right: 10px;
    border-right: 1px solid gray;
}

.user-container > img {
    width: 25px;
}

.user-username {
    display: block;
    color: gray;
    margin-right: 15px;
    margin-top: 12px;
}