/* .p-sign-up {
    text-align: center;
    color: aqua;
    font-size: 30px;
}

.reg-input-div {
    margin-bottom: 5px;
}

.reg-role-input-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.reg-input-radio-div {
    color: aqua;
    font-size: 20px;
}

.reg-continue-button-div {
    text-align: center;
}

.reg-continue-button {
    font-size: 20px;
    background-color: green;
    color: aqua;
}

.role-error-text {
    color: red;
    width: 200px;
    margin-top: 0;
}

.reg-area-go-to-login-div,
.reg-area-back-home-link-div {
    text-align: end;
}

.reg-area-go-to-login-div {
    margin-top: 15px;
}

.reg-area-back-home-link-div {
    margin-top: 5px;
}

.reg-area-go-to-login-link,
.reg-area-back-home-link {
    color: white;
    text-decoration: none;
} */

/* body {
       background-color: #001660;
} */

.registration-section {
    background-color: #001660;
}


.main-registration-page {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 500px;
    height: 650px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 20px;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.submit-area {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    padding: 50px;
    /* padding-left: 30px;
    margin-right: 30px; */
    width: 400px;
}

.reg-role-input-div {
    color: black;
    font-size: 20px;
    padding-bottom: 15px;
    margin-left: 20px;
}

.reg-area-go-to-login-div,
.reg-area-back-home-link-div {
    margin-top: 10px;
    margin-left: 20px;
}

.reg-area-go-to-login-link,
.reg-area-back-home-link {
    text-decoration: none;
}