/* body {
    margin: 0;
}

.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: blue;
}

.p-sign-in {
    font-size: 30px;
    text-align: center;
    color: aqua;
}

.login-input-div {
    margin-bottom: 5px;
}

.login-button-div {
    text-align: center;
}

.login-button {
    background-color: green;
    margin-top: 10px;
    color: aqua;
    font-size: 20px;
}

.p-invalid-field {
    margin-top: 5px;
    color: red;
}

.login-area-go-to-reg-div,
.login-area-back-home-link-div {
    text-align: end;
}

.login-area-go-to-reg-div {
    margin-top: 15px;
}

.login-area-back-home-link-div {
    margin-top: 5px;
}

.login-area-go-to-reg-link,
.login-area-back-home-link {
    color: white;
    text-decoration: none;
} */



* {
    margin: 0;
    padding: 0;
}

.login-area-go-to-reg-link,
.login-area-back-home-link {
    text-decoration: none;
}

.p-sign-in {
    padding-bottom: 30px;
}

.login-input-div {
    border: none;
}

.container {
    background: #001660;
}

.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

}

.login-area {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    padding: 50px;
    padding-left: 30px;
    margin-right: 30px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
}


.login-area-go-to-reg-div,
.login-area-back-home-link-div {
    padding-top: 10px;
    margin-left: 20px;
}