.teacher-add-info-page {
    width: 300px;
}

.p-teacher-add-info {
    color: aqua;
    font-size: 30px;
    text-align: center;
}

.input-teacher-add-info {
    width: 300px;
    margin-bottom: 5px;
}

.input-teacher-add-info > input {
    font-size: 15px;
}

.p-language-types-text {
    margin-top: 25px;
    color: aqua;
    font-size: 18px;
}

.checkbox-language > label {
    color: aqua;
}

.teacher-add-info-buttons {
    display: flex;
    margin-top: 10px;
}

.prev-page-button {
    background-color: rgb(152, 152, 255);
    color: aqua;
    margin-right: 20px;
}

.finish-reg-button {
    background-color: green;
    color: aqua;
}