/* .teacher-add-info-page {
    width: 300px;
}

.p-teacher-add-info {
    color: aqua;
    font-size: 30px;
    text-align: center;
}

.input-teacher-add-info {
    width: 300px;
    margin-bottom: 5px;
}

.input-teacher-add-info > input {
    font-size: 15px;
}

.p-language-types-text {
    margin-top: 25px;
    color: aqua;
    font-size: 18px;
}

.checkbox-language > label {
    color: aqua;
}

.teacher-add-info-buttons {
    display: flex;
    margin-top: 10px;
}

.prev-page-button {
    background-color: rgb(152, 152, 255);
    color: aqua;
    margin-right: 20px;
}

.finish-reg-button {
    background-color: green;
    color: aqua;
} */

/* body {
    background-color: #001660;
} */

.teacher-add-info-page {
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    padding: 50px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
}

.submit-area {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    padding: 50px;
    margin: 0;
    margin: 15px;
    padding-left: 30px;
    margin-right: 30px;
    width: 400px;
}

.p-teacher-add-info {
    color: black;
    font-size: 30px;
    text-align: center;
}

.input-teacher-add-info {
    width: 300px;
    margin-bottom: 5px;
}

.input-teacher-add-info>input {
    font-size: 15px;
}

.p-language-types-text {
    margin-top: 25px;
    color: black;
    font-size: 18px;
    margin-left: 15px;
}

.checkbox-language>label {
    color: black;
    margin-left: 15px;
}

.checkbox-language {
    margin-left: 15px;
}

.teacher-add-info-buttons {
    display: flex;
    margin-top: 10px;
}


.prev-page-button {
    background-color: blue;
    color: white;
    margin-right: 20px;
}

.finish-reg-button {
    background-color: blue;
    color: white;
}

.p-language-types-text,
.checkbox-language {
    margin-left: 45px;
}